.page-title{
    margin-top: 30px;
    margin-bottom: 40px;
    padding-bottom: 15px;
    border-bottom: 2px solid #e8e8e8;
}

/* Animation zoom sur passage souris sur image de pizza */
.card-img-top-container {
    overflow: hidden;
}
.card-img-top-zoom-effect {
    transition: 0.5s;
}
.card-img-top-zoom-effect:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.price-img-tag{
    right: 10px;
    top: 10px;
    border-radius: 25%;
    background-color: #e84118;
    padding: 5px;
    position: absolute;
    white-space: nowrap;
    color: white;
    font-weight: bold;   
}
/* Réduction de la taille des centimes sur le prix des pizzas */
.card-price-cents{
    font-size:11px;
}

.formBorder{
    padding: 15px;
    background-color: rgba(0, 0, 100, 0.5); 
    border: 2px solid black;
}